<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
  </head>
  <body>
    <h1><b>404</b> Page not found!</h1>
    <p>Back to <a href="/login">login</a></p>
  </body>
</html>
