<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
  </head>
  <body>
    <form action="/changePassword/<%= accountId %>" method="POST" enctype="application/x-www-form-urlencoded" class="container border center">
      <h2 class="container__title bold"><%= title %></h2>

      <input type="hidden" name="_method" value="PUT" />

      <label for="newPassword" class="container__username-label">New password</label>
      <input type="text" class="border container__username" id="newPassword" name="newPassword" maxlength="20" required autocomplete="on" autofocus />

      <label for="reNewPassword" class="container__username-label">Re-enter password</label>
      <input type="text" class="border container__username" id="reNewPassword" name="reNewPassword" maxlength="20" required autocomplete="on" autofocus />

      <label for="password" class="container__password-label">Enter current password for confirmation</label>
      <input type="password" class="border container__password" id="password" name="password" maxlength="20" required autocomplete="on" />

      <div class="flex">
        <a href="/home">Cancel</a>
        <button type="submit" class="container__submit-button button border">Submit</button>
      </div>
    </form>
  </body>
</html>
