<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
  </head>
  <body>
    <h1 class="main-title bold">LOGIN SYSTEM</h1>
    <%- include("partials/form.ejs") %>
  </body>
</html>
